.cont__formCreate{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_createFood{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
    background-color: rgba(229, 178, 178, 0.49);
    box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
    border-radius: 12px;
    padding: 10px;
}


.select_type{
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
}

.title-form{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.inpt-formFile{
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

.text-area_form{
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
}

.text-area_form:focus{
    outline: none;
}

.cont_formCol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div_contForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
}



.div__contFirstCol{
    display: flex;
    flex-direction: column;
}

.div__contSecondCol{
    display: flex;
    flex-direction: column;
}

.div_cargaForm{
    position: absolute;
    width: 100%;
    height: 110vh;
    backdrop-filter: brightness(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back{
    margin-top: 15px;
    margin-left: 10px;
}

.img_loader{
    border-radius: 50%;
    width: 320px;
    height: 300px;
}

.div_contBtnForm{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
}


.inpt-form{
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
}

.inpt-form:focus{
    outline: none;
}

@media screen and (min-width: 64em){
    .cont__formCreate{
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form_createFood{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-self: center;
        background-color: rgba(229, 178, 178, 0.49);
        box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
        border-radius: 12px;
    }
    
    .cont_fatherForm{
        width: 800px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .select_type{
        border: none;
        border-radius: 12px;
        padding: 15px;
        font-size: 18px;
    }
    
    .title-form{
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .inpt-formFile{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
    
    .text-area_form{
        border: none;
        border-radius: 12px;
        padding: 15px;
        font-size: 18px;
    }
    
    .text-area_form:focus{
        outline: none;
    }
    
    .cont_formCol{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .div_contForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    
    
    
    .div__contFirstCol{
        display: flex;
        flex-direction: column;
    }
    
    .div__contSecondCol{
        display: flex;
        flex-direction: column;
    }
    
    .div_cargaForm{
        position: absolute;
        width: 100%;
        height: 110vh;
        backdrop-filter: brightness(30%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-back{
        margin-top: 15px;
        margin-left: 10px;
    }
    
    .img_loader{
        border-radius: 50%;
        width: 320px;
        height: 300px;
    }
    
    .div_contBtnForm{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .btn-submitForm{
        
    }
    
    .inpt-form{
        padding: 15px;
        font-size: 18px;
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
    }
    
    .inpt-form:focus{
        outline: none;
    }
}