.cont_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div_flex-col {
    display: flex;
    flex-direction: column;
}

.div_cont_imgs {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.img_footer {
    width: 70px;
    height: 60px;
    object-fit: contain;
}

.p_me {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}