.div_navbar{
    width: 100%;
    background-color: rgb(246, 57, 57);
    display: flex;
    justify-content: space-between;
}

.img_icon{
    width: 60px;
    margin-left: 40px;
    cursor: pointer;
}

.div__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.div__title p{
    font-weight: bold;
}