<div *ngIf="foodProduct.image === ''">
    <app-loader></app-loader>
</div>
<div *ngIf="foodProduct.name.length > 0" class="div_cont--detail">
    <app-button style="margin-top: 15px;" (click)="goBack()" message="Back"></app-button>
    <div class="div_cont-carddetail">
        <div class="cont-img_detail">
            <img class="img_detail" [src]="foodProduct.image" alt="">
        </div>
        <div class="div_contentDetail--nocol">
            <div class="div_contentDetail--col">
                <h1>{{foodProduct.name}}</h1>
                <p class="type">{{foodProduct.type}}</p>
                <p class="p_desc">{{foodProduct.description}}</p>
            </div>
        </div>
    </div>
</div>