.div_contFoodC{
    padding: 0px;
    margin-bottom: 50px;
    background-color: rgba(72, 72, 72, 0.51);
    border-radius: 12px;
    width: 300px;
    height: 400px;
    animation: test .6s ease-out;
    
}
@keyframes test{
    0%{
        opacity: .3;
        transform: translateY(-20%);
    }
    100%{
        opacity: 1;
        transform: translate3d(0%);

    }
}
.img_food{
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    display: block;
    margin: auto;
}

.h1_titleFood{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(14, 13, 13);
    font-size: 20px;
}

.p_typeFood{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

.div_detail{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.div_detail button{
    padding: 8px;
    border: none;
    font-weight: bold;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;

}

@media screen and (min-width: 64em){
    .div_contFoodC{
        /* padding: 20px; */
        padding: 0px;
        margin-bottom: 50px;
        background-color: rgba(72, 72, 72, 0.646);
        border-radius: 12px;
        width: 400px;
        height: 500px;
    }
    .cont-img{
        width: 400px;
        height: 380px;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;
    }
    .img_food{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px 10px 0px 0px;
        display: block;
        margin: auto;
        transition: 200ms ease-in;
        cursor: pointer;
    }
    .img_food:hover{
        scale: 1.1;
    }
    
    .h1_titleFood{
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(14, 13, 13);
        font-size: 20px;
    }
    
    .p_typeFood{
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .div_detail{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .div_detail button{
        padding: 8px;
        border: none;
        font-weight: bold;
        border-radius: 12px;
        font-size: 17px;

    }
}