.div_contFoods {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    justify-items: center;
}

.div__gridContfoods {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.cont_btnsType {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.cont_btnsType button {
    padding: 8px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s ease-in;
}

.cont_btnsType button:hover {
    background-color: rgb(24, 24, 24);
    color: white;
}

.div_inptbusqueda {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (min-width: 64em) {
    .div_contFoods {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: normal;
    }

    .div__gridContfoods {
        margin: 80px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cont_btnsType {
        width: 100%;
    }

    .cont_btnsType button {
        padding: 8px;
        border: none;
        font-weight: bold;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: .4s ease-in;
    }

    .cont_btnsType button:hover {
        background-color: rgb(24, 24, 24);
        color: white;
    }

}