.div_contFoods{
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    justify-items: center;
}

.div__gridContfoods{
    margin: 30px;
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 64em){
    .div_contFoods{
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: normal;
        z-index: 9;
    }
    .div__gridContfoods{
        margin: 80px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}