<app-loader *ngIf="foodProducts.length === 0"></app-loader>
<div *ngIf="foodProducts.length > 0" class="div_contFoods">
    <div class="cont_btnsType">
        <app-button (click)="getFoodByFilter('Pizza')" message="Pizza's"></app-button>
        <app-button (click)="getFoodByFilter('Burger')" message="Burger's"></app-button>
    </div>
    <div class="div_inptbusqueda">
        <app-input-busqueda (searchInput)="test($event)"></app-input-busqueda>
    </div>
    <div class="div__gridContfoods">
        <app-food [food]="food" *ngFor="let food of foodProducts">

        </app-food>
    </div>

</div>