.cont_img--fondo{
    position: fixed;
    /* top: 30%;
    left: -22.4%; */
    width: 100%;
    height: 100vh;
}

.cont_img--flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.img__fondo{
    width: 400px;
    height: 300px;
    margin-bottom: 100px;
}

@media screen and (min-width: 64em){
    .cont_img--fondo{
        position: fixed;
        /* top: 30%;
        left: -22.4%; */
        width: 100%;
        height: 100vh;
    }
    
    .cont_img--flex{
        width: 100%;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    
    .img__fondo{
        width: 850px;
        height: 500px;
        margin-bottom: 100px;
    }
}