.btn__generic{
    padding: 8px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s ease-in;
}

.btn__generic:hover{
    background-color: black;
    color: white;
}