<div class="div__landing">
    <div class="div__imgs">
        <img class="img" src="https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
        <img class="img" src="https://images.pexels.com/photos/1049620/pexels-photo-1049620.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <!-- <div class="div__cont--btn">
            <button routerLink="/home/products" class="button_home">
                Get in
            </button>
        </div> -->
    </div>
</div>
